.venv/
dist/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
examples/kafka/.env
examples/sftp/.env
examples/sftp/upload/cgen-events.log*
examples/filesystem/.env
examples/filesystem/files/cgen-events.log*
examples/sql/.env
